*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {
    background-color: #EDEEF0;
}

.container  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
}

.img    {
    height: 100%;
    width: 100%;
}

.card   {
    max-width: 500px;
    padding: 16px;
    background-color: #ffffff;
    margin: 16px;
    box-shadow: 5px 5px 15px grey;
    border-radius: 10px;
}

.btn    {
    padding: 8px;
    border-radius: 10px;
    background-color: #ffffff;
}

.btn:hover  {
    background-color: #EDEEF0;
}