*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body   {
    background-color: #f1f5f8;
    font-family: "Open Sans", sans-serif;
}

.contaainer {
    max-width: 1200px;
    margin: 0 auto;
}

.main   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.password   {
    padding: 8px;
    margin: 8px;
    caret-color: transparent;
    cursor: pointer;
}

.password-button    {
    padding: 8px;
    background-color: blueviolet;
    color: #f1f5f8;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin: 2px;
}